@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    font-family: Roboto;
}

.app-wrapper {
    background-color: silver;
    padding: 0 10%;
    height: 100vh;
}

.innerWrapper {
    display: grid;
    justify-items:stretch;
    width: 100%;
    margin: 0 auto 0;
    grid-template-areas: 'h h' 's m';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 9.9fr;
    grid-gap: 10px;
}

.Wrapper-content {
    grid-area: m;
    background-color: #f2f2f2;
    height: 100%;
    min-height: 88vh;
    border-radius: 8px;
    margin-right: 5px;
  -webkit-box-shadow: 7px 8px 20px -1px rgba(158,153,158,1);
-moz-box-shadow: 7px 8px 20px -1px rgba(158,153,158,1);
box-shadow: 7px 8px 20px -1px rgba(158,153,158,1);
}


@media only screen and (max-width: 1110px) {
.innerWrapper{
    grid-template-columns: 3fr 8.9fr;
}
}